body, input[type="text"] {
	background-color: black;
	color: white;
}

.inputEquation {
    width: 100%;
}

.inputEquation tr td:first-child,
.variables tr td:first-child input {
    width: 5em;
    text-align: right;
}

#txtEqn, #txtAns {
	width: calc(100% - 2.5em);
	padding: 0.5em 1em;
	font-size: 2em;
}

#txtAns,
.txtVarName {
	border: none;
}

.monospace {
	font-family: monospace;
}

/* #divStack {
	display: none;
} */
